body {
  text-align: center;
  background-color: #ecd8d8;
  padding-top: 100px;
}

p {
  font-size:17px;
}

a {
  /*color: var(--primary-color);*/
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: rgb(151, 0, 88);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 3px solid black;*/
  width: 100%;
  padding: 15px;
 

}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.logo h1 {
  padding: 0 0 0 10px;
  margin: 0;
}

.navbar ul {
  display: flex;
  margin: 0 ;
  padding-right:35px ;
}
.navbar a {
  padding-left: 2rem;  
  color: #ecd8d8;
}
.navbar li {
  color: #ecd8d8;
}
.navbar img {
  width: 35px;
  height: 40px;
  border-radius: 40%;
}

